<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h3>
    <%= data.object.title%>
</h3>
<h3>
    <%= data.object.metadata.markdown_content %>
</h3>
<h3>
    <img src="<%= data.object.metadata.image.url%>" alt="">
</h3>


</body>
</html>
